<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.act.ActBusinessDao">

	
	
	<select id="queryProcessInstanceIds" resultType="java.lang.String">
		select distinct act_piid from business_activiti_relation where buss_id=#{recordId} and buss_type=#{bussType}
	</select>
	<select id="queryCountMatchBusinessKey" resultType="java.lang.Long">
		select count(1) from business_activiti_relation where  buss_type=#{bussType} and act_business_key like '%${content}%' and proj_id=#{projId}
	</select>
	
	<select id="queryMatchBusinessKey" resultType="java.lang.String">
		select act_piid from business_activiti_relation where  buss_type=#{bussType} and act_business_key like '%${content}%'  limit 1 
	</select>
	<select id="findLinksMatchBusinessKey" resultType="java.lang.String">
		select distinct a.act_task_name from business_activiti_relation a where a.act_business_key like '%${content}%'   
	</select>
	
	<select id="queryCountMatchLink" resultType="java.lang.Long">
		select count(1) from business_activiti_relation where  buss_type=#{bussType} and act_task_name = #{link}  and  act_piid=#{piid}
	</select>
	
	<insert id="deleteByIdAndType">
		delete from business_activiti_relation where buss_id=#{recordId} and buss_type=#{bussType}
	</insert>
	
	<insert id="insert">
		insert 
		  into 
		  business_activiti_relation(buss_type,create_time,buss_id,proj_id,act_piid,check_persion_id,act_business_key)
		  values(#{map.bussType},#{map.createTime},#{map.bussId},#{map.projId},#{map.actPiid},#{map.assignIds},#{map.businessKey})
	</insert>
	
	<insert id="insertAll">
		insert 
		  into 
		  business_activiti_relation(check_result,buss_type,create_time,buss_id,check_persion_id,proj_id,act_task_name,act_task_key,act_piid,act_business_key)
		  values(#{map.checkResult},#{map.bussType},#{map.createTime},#{map.bussId},#{map.checkAssignee},#{map.projId},#{map.actName},#{map.actId},#{map.piid},#{map.businessKey})
	</insert>
	
	<select id="queryPiid" resultType="java.lang.String">
		select act_piid 
		from 
			business_activiti_relation 
		where 
			buss_id=#{id}
			and buss_type=#{bussType}
			order by create_time desc
		limit 1
	</select>
	
	<delete id="deleteActBusinessBykey" >
		delete from business_activiti_relation 
		where act_business_key= #{businessKey} and act_task_name in ('基站核查','小区核查','路测核查','审核报告')
			
	</delete>
	
	<select id="findCheckInfo" resultType="java.util.Map">
		
		SELECT 
		    c.id AS "id"
            ,c.result AS "result"
		    ,GROUP_CONCAT(c.nickname SEPARATOR ',')   AS "checkname"
        FROM (
			SELECT r.id AS id
                ,r.check_result AS result
                ,r.create_time AS create_time
                ,u.id AS uid
                ,u.nickname  AS nickname
			FROM 
				business_activiti_relation  r
				,sys_user u
			WHERE 
				r.buss_id=#{id}
				and r.buss_type=#{bussType}
			    AND FIND_IN_SET(u.id, r.check_persion_id)
			    AND r.create_time =(SELECT MAX(create_time) FROM business_activiti_relation WHERE buss_id=#{id} AND buss_type=#{bussType})
				
		) c
        GROUP BY c.id,c.result,c.create_time
        
	</select>
	

	
</mapper>