<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.SysRoleDao">

	
	<select id="queryByProId" resultMap="SysRoleMap">
		 select sr.* from 
		 sys_role sr
		 ,proj_role_relation prr  
		 where 1=1
		 and sr.id=prr.role_id
		 and prr.proj_id=#{projId}
		 order by sr.sort
	</select>
	
	
	<resultMap type="com.boot.kaizen.model.SysRole" id="SysRoleMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="sort" column="sort" />
		<result property="createTime" column="createTime" />
		<result property="updateTime" column="updateTime" />
	</resultMap>
	
</mapper>