<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.kaizen.dao.lte.LtePlanDao">

	
	
	<select id="find" resultType="LtePlan">
		 select lp.* 
		 from
		 lte_plane lp 
		 where 1=1
		 <if test="map.projId != null and map.projId != ''">
            and lp.projId = #{map.projId}
        </if>
		 <if test="map.mENodeBID != null and map.mENodeBID != ''">
            and lp.mENodeBID like '%${map.mENodeBID}%'
        </if>
		<if test="map.beginTime != null and map.beginTime != '' and (map.endTime == null or map.endTime == '')">
            and lp.testTime &gt;=  #{map.beginTime}
        </if>
		<if test="map.endTime != null and map.endTime != '' and (map.beginTime == null or map.beginTime == '')">
            and lp.testTime &lt;=  #{map.endTime}
        </if>
		<if test="map.endTime != null and map.endTime != '' and map.beginTime != null and map.beginTime != ''">
            and lp.testTime 
            between #{map.beginTime}
            and     #{map.endTime}
        </if>
		 order by lp.testTime desc
	</select>
	
	
	<select id="queryPlanList" resultType="java.util.Map">
		 select 
		    id as  "planId",
		    testTime as "testDate"
		 from
		 lte_plane lp 
		 where 
		    lp.testTime =#{nowDate}
		    and dealPersonId =#{userId}
		    and projId =#{projId}
	</select>
	
	<delete id="delete">
		 delete from lte_plane
		 where id in
		 <foreach collection="idsArray" index="index" item="item"
            open="(" separator="," close=")">
            #{item}
        </foreach>
	</delete>
	
	<update id="update">
		update lte_plane 
		set mENodeBID=#{mENodeBID}
		,mBaseStationName=#{mBaseStationName}
		,mBaseStationType=#{mBaseStationType}
		,mAltitude=#{mAltitude}
		,mLongitude=#{mLongitude} 
		,mLatitude=#{mLatitude} 
		
		,testPerson=#{testPerson} 
		,testPersonPhone=#{testPersonPhone} 
		,backPerson=#{backPerson} 
		,backPersonPhone=#{backPersonPhone} 
		,testTime=#{testTime} 
		,mTac=#{mTac} 
		,updateTime=#{updateTime} 
			
		where id=#{id}
	</update>
	
	<insert id="save"  useGeneratedKeys="true" keyProperty="id">
		insert into  lte_plane
		(
			mENodeBID,
			mBaseStationName,
			mBaseStationType,
			mAltitude,
			mLongitude,
			mLatitude,
			mTac,
			testPerson,
			testPersonPhone,
			backPerson,
			backPersonPhone,
			testTime,
			createTime,
			createAt,
			projId
		) 
		values
		(
			
			#{mENodeBID},
			#{mBaseStationName},
			#{mBaseStationType},
			#{mAltitude},
			#{mLongitude},
			#{mLatitude},
			#{mTac},
			#{testPerson},
			#{testPersonPhone},
			#{backPerson},
			#{backPersonPhone},
			#{testTime},
			#{createTime},
			#{createAt},
			#{projId}
		)
	</insert>
	
	

	
</mapper>