<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.boot.kaizen.dao.lteFdd.LteFddCellCheckMapper">
	<resultMap id="BaseResultMap"
		type="com.boot.kaizen.model.lteFddModel.LteFddCellCheck">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="mENodeBID" jdbcType="VARCHAR"
			property="mENodeBID" />
		<result column="mBaseStationName" jdbcType="VARCHAR"
			property="mBaseStationName" />
		<result column="cellId" jdbcType="VARCHAR" property="cellId" />
		<result column="cellName" jdbcType="VARCHAR"
			property="cellName" />
		<result column="upDownRatio" jdbcType="VARCHAR"
			property="upDownRatio" />
		<result column="specialRatio" jdbcType="VARCHAR"
			property="specialRatio" />
		<result column="pci" jdbcType="VARCHAR" property="pci" />
		<result column="eci" jdbcType="VARCHAR" property="eci" />
		<result column="tac" jdbcType="VARCHAR" property="tac" />
		<result column="earfcn" jdbcType="VARCHAR" property="earfcn" />
		<result column="rsPower" jdbcType="VARCHAR" property="rsPower" />
		<result column="pa" jdbcType="VARCHAR" property="pa" />
		<result column="pb" jdbcType="VARCHAR" property="pb" />
		<result column="antennaHangUp" jdbcType="VARCHAR"
			property="antennaHangUp" />
		<result column="azimuth" jdbcType="VARCHAR" property="azimuth" />
		<result column="mechanicalLowerInclination" jdbcType="VARCHAR"
			property="mechanicalLowerInclination" />
		<result column="presetElectricDip" jdbcType="VARCHAR"
			property="presetElectricDip" />
		<result column="mtotalLowerInclination" jdbcType="VARCHAR"
			property="mtotalLowerInclination" />
		<result column="ftpDown" jdbcType="VARCHAR" property="ftpDown" />
		<result column="ftpUp" jdbcType="VARCHAR" property="ftpUp" />
		<result column="rrcSuccRateAttempt" jdbcType="VARCHAR"
			property="rrcSuccRateAttempt" />
		<result column="rrcSuccRateSucc" jdbcType="VARCHAR"
			property="rrcSuccRateSucc" />
		<result column="rrcSuccRateFailure" jdbcType="VARCHAR"
			property="rrcSuccRateFailure" />
		<result column="erabSuccRateAttempt" jdbcType="VARCHAR"
			property="erabSuccRateAttempt" />
		<result column="erabSuccRateSucc" jdbcType="VARCHAR"
			property="erabSuccRateSucc" />
		<result column="erabSuccRateFailure" jdbcType="VARCHAR"
			property="erabSuccRateFailure" />
		<result column="accessSuccRateAttempt" jdbcType="VARCHAR"
			property="accessSuccRateAttempt" />
		<result column="accessSuccRateSucc" jdbcType="VARCHAR"
			property="accessSuccRateSucc" />
		<result column="accessSuccRateFailure" jdbcType="VARCHAR"
			property="accessSuccRateFailure" />
		<result column="volteFailureAttempt" jdbcType="VARCHAR"
			property="volteFailureAttempt" />
		<result column="volteFailureSucc" jdbcType="VARCHAR"
			property="volteFailureSucc" />
		<result column="volteFailureFailure" jdbcType="VARCHAR"
			property="volteFailureFailure" />
		<result column="tdLteCxAttempt" jdbcType="VARCHAR"
			property="tdLteCxAttempt" />
		<result column="tdLteCxSucc" jdbcType="VARCHAR"
			property="tdLteCxSucc" />
		<result column="tdLteCxFailure" jdbcType="VARCHAR"
			property="tdLteCxFailure" />
		<result column="lteFddCxAttempt" jdbcType="VARCHAR"
			property="lteFddCxAttempt" />
		<result column="lteFddCxSucc" jdbcType="VARCHAR"
			property="lteFddCxSucc" />
		<result column="lteFddCxFailure" jdbcType="VARCHAR"
			property="lteFddCxFailure" />
		<result column="tdLteChangeAttempt" jdbcType="VARCHAR"
			property="tdLteChangeAttempt" />
		<result column="tdLteChangeSucc" jdbcType="VARCHAR"
			property="tdLteChangeSucc" />
		<result column="tdLteChangeFailure" jdbcType="VARCHAR"
			property="tdLteChangeFailure" />
		<result column="lteFddChangeAttempt" jdbcType="VARCHAR"
			property="lteFddChangeAttempt" />
		<result column="lteFddChangeSucc" jdbcType="VARCHAR"
			property="lteFddChangeSucc" />
		<result column="lteFddChangeFailure" jdbcType="VARCHAR"
			property="lteFddChangeFailure" />
		<result column="systemChangeAttempt" jdbcType="VARCHAR"
			property="systemChangeAttempt" />
		<result column="systemChangeSucc" jdbcType="VARCHAR"
			property="systemChangeSucc" />
		<result column="systemChangeFailure" jdbcType="VARCHAR"
			property="systemChangeFailure" />
		<result column="csfbReturnAttempt" jdbcType="VARCHAR"
			property="csfbReturnAttempt" />
		<result column="csfbReturnSucc" jdbcType="VARCHAR"
			property="csfbReturnSucc" />
		<result column="csfbReturnFailure" jdbcType="VARCHAR"
			property="csfbReturnFailure" />
		<result column="projId" jdbcType="INTEGER" property="projId" />
		<result column="createTime" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="updateTime" jdbcType="TIMESTAMP"
			property="updateTime" />
		<result column="createAt" jdbcType="INTEGER"
			property="createAt" />
		<result column="frequency" jdbcType="VARCHAR"
			property="frequency" />
		<result column="testTime" jdbcType="VARCHAR"
			property="testTime" />
		<result column="jzType" jdbcType="VARCHAR" property="jzType" />
		<result column="volteDelay" jdbcType="VARCHAR" property="volteDelay" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mENodeBID, mBaseStationName, cellId, cellName, upDownRatio,
		specialRatio, pci,
		eci, tac, earfcn, rsPower, pa, pb, antennaHangUp, azimuth,
		mechanicalLowerInclination,
		presetElectricDip, mtotalLowerInclination, ftpDown, ftpUp, rrcSuccRateAttempt,
		rrcSuccRateSucc,
		rrcSuccRateFailure, erabSuccRateAttempt, erabSuccRateSucc, erabSuccRateFailure,
		accessSuccRateAttempt,
		accessSuccRateSucc, accessSuccRateFailure, volteFailureAttempt, volteFailureSucc,
		volteFailureFailure, tdLteCxAttempt, tdLteCxSucc, tdLteCxFailure,
		lteFddCxAttempt,
		lteFddCxSucc, lteFddCxFailure, tdLteChangeAttempt, tdLteChangeSucc,
		tdLteChangeFailure,
		lteFddChangeAttempt, lteFddChangeSucc, lteFddChangeFailure, systemChangeAttempt,
		systemChangeSucc, systemChangeFailure, csfbReturnAttempt,
		csfbReturnSucc, csfbReturnFailure,
		projId, createTime, updateTime, createAt,frequency,testTime,jzType,volteDelay
	</sql>


	<select id="query" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from lte_fdd_cell
		where 1=1
		<if test="map.projId != null and map.projId != ''">
			and projId = #{map.projId}
		</if>
		<if test="map.mENodeBID != null and map.mENodeBID != ''">
			and mENodeBID = #{map.mENodeBID}
		</if>
		<if test="map.testTime != null and map.testTime != ''">
			and testTime = #{map.testTime}
		</if>
		<if test="map.cellId != null and map.cellId != ''">
			and cellId = #{map.cellId}
		</if>
		<if test="map.jzType != null and map.jzType != ''">
			and jzType = #{map.jzType}
		</if>
	</select>




	<delete id="delete">
		delete from lte_fdd_cell
		where id in
		<foreach collection="idsArray" index="index" item="item"
			open="(" separator="," close=")">
			'${item}'
		</foreach>
	</delete>




	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from lte_fdd_cell
		where id = #{id,jdbcType=VARCHAR}
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from lte_fdd_cell
		where id = #{id,jdbcType=VARCHAR}
	</delete>


	<insert id="insertSelective"
		parameterType="com.boot.kaizen.model.lteFddModel.LteFddCellCheck">
		insert into lte_fdd_cell
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mENodeBID != null">
				mENodeBID,
			</if>
			<if test="mBaseStationName != null">
				mBaseStationName,
			</if>
			<if test="cellId != null">
				cellId,
			</if>
			<if test="cellName != null">
				cellName,
			</if>
			<if test="upDownRatio != null">
				upDownRatio,
			</if>
			<if test="specialRatio != null">
				specialRatio,
			</if>
			<if test="pci != null">
				pci,
			</if>
			<if test="eci != null">
				eci,
			</if>
			<if test="tac != null">
				tac,
			</if>
			<if test="earfcn != null">
				earfcn,
			</if>
			<if test="rsPower != null">
				rsPower,
			</if>
			<if test="pa != null">
				pa,
			</if>
			<if test="pb != null">
				pb,
			</if>
			<if test="antennaHangUp != null">
				antennaHangUp,
			</if>
			<if test="azimuth != null">
				azimuth,
			</if>
			<if test="mechanicalLowerInclination != null">
				mechanicalLowerInclination,
			</if>
			<if test="presetElectricDip != null">
				presetElectricDip,
			</if>
			<if test="mtotalLowerInclination != null">
				mtotalLowerInclination,
			</if>
			<if test="ftpDown != null">
				ftpDown,
			</if>
			<if test="ftpUp != null">
				ftpUp,
			</if>
			<if test="rrcSuccRateAttempt != null">
				rrcSuccRateAttempt,
			</if>
			<if test="rrcSuccRateSucc != null">
				rrcSuccRateSucc,
			</if>
			<if test="rrcSuccRateFailure != null">
				rrcSuccRateFailure,
			</if>
			<if test="erabSuccRateAttempt != null">
				erabSuccRateAttempt,
			</if>
			<if test="erabSuccRateSucc != null">
				erabSuccRateSucc,
			</if>
			<if test="erabSuccRateFailure != null">
				erabSuccRateFailure,
			</if>
			<if test="accessSuccRateAttempt != null">
				accessSuccRateAttempt,
			</if>
			<if test="accessSuccRateSucc != null">
				accessSuccRateSucc,
			</if>
			<if test="accessSuccRateFailure != null">
				accessSuccRateFailure,
			</if>
			<if test="volteFailureAttempt != null">
				volteFailureAttempt,
			</if>
			<if test="volteFailureSucc != null">
				volteFailureSucc,
			</if>
			<if test="volteFailureFailure != null">
				volteFailureFailure,
			</if>
			<if test="tdLteCxAttempt != null">
				tdLteCxAttempt,
			</if>
			<if test="tdLteCxSucc != null">
				tdLteCxSucc,
			</if>
			<if test="tdLteCxFailure != null">
				tdLteCxFailure,
			</if>
			<if test="lteFddCxAttempt != null">
				lteFddCxAttempt,
			</if>
			<if test="lteFddCxSucc != null">
				lteFddCxSucc,
			</if>
			<if test="lteFddCxFailure != null">
				lteFddCxFailure,
			</if>
			<if test="tdLteChangeAttempt != null">
				tdLteChangeAttempt,
			</if>
			<if test="tdLteChangeSucc != null">
				tdLteChangeSucc,
			</if>
			<if test="tdLteChangeFailure != null">
				tdLteChangeFailure,
			</if>
			<if test="lteFddChangeAttempt != null">
				lteFddChangeAttempt,
			</if>
			<if test="lteFddChangeSucc != null">
				lteFddChangeSucc,
			</if>
			<if test="lteFddChangeFailure != null">
				lteFddChangeFailure,
			</if>
			<if test="systemChangeAttempt != null">
				systemChangeAttempt,
			</if>
			<if test="systemChangeSucc != null">
				systemChangeSucc,
			</if>
			<if test="systemChangeFailure != null">
				systemChangeFailure,
			</if>
			<if test="csfbReturnAttempt != null">
				csfbReturnAttempt,
			</if>
			<if test="csfbReturnSucc != null">
				csfbReturnSucc,
			</if>
			<if test="csfbReturnFailure != null">
				csfbReturnFailure,
			</if>
			<if test="projId != null">
				projId,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="createAt != null">
				createAt,
			</if>
			<if test="frequency != null">
				frequency,
			</if>
			<if test="testTime != null">
				testTime,
			</if>
			<if test="jzType != null">
				jzType,
			</if>
			<if test="volteDelay != null">
				volteDelay,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="mENodeBID != null">
				#{mENodeBID,jdbcType=VARCHAR},
			</if>
			<if test="mBaseStationName != null">
				#{mBaseStationName,jdbcType=VARCHAR},
			</if>
			<if test="cellId != null">
				#{cellId,jdbcType=VARCHAR},
			</if>
			<if test="cellName != null">
				#{cellName,jdbcType=VARCHAR},
			</if>
			<if test="upDownRatio != null">
				#{upDownRatio,jdbcType=VARCHAR},
			</if>
			<if test="specialRatio != null">
				#{specialRatio,jdbcType=VARCHAR},
			</if>
			<if test="pci != null">
				#{pci,jdbcType=VARCHAR},
			</if>
			<if test="eci != null">
				#{eci,jdbcType=VARCHAR},
			</if>
			<if test="tac != null">
				#{tac,jdbcType=VARCHAR},
			</if>
			<if test="earfcn != null">
				#{earfcn,jdbcType=VARCHAR},
			</if>
			<if test="rsPower != null">
				#{rsPower,jdbcType=VARCHAR},
			</if>
			<if test="pa != null">
				#{pa,jdbcType=VARCHAR},
			</if>
			<if test="pb != null">
				#{pb,jdbcType=VARCHAR},
			</if>
			<if test="antennaHangUp != null">
				#{antennaHangUp,jdbcType=VARCHAR},
			</if>
			<if test="azimuth != null">
				#{azimuth,jdbcType=VARCHAR},
			</if>
			<if test="mechanicalLowerInclination != null">
				#{mechanicalLowerInclination,jdbcType=VARCHAR},
			</if>
			<if test="presetElectricDip != null">
				#{presetElectricDip,jdbcType=VARCHAR},
			</if>
			<if test="mtotalLowerInclination != null">
				#{mtotalLowerInclination,jdbcType=VARCHAR},
			</if>
			<if test="ftpDown != null">
				#{ftpDown,jdbcType=VARCHAR},
			</if>
			<if test="ftpUp != null">
				#{ftpUp,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateAttempt != null">
				#{rrcSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateSucc != null">
				#{rrcSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateFailure != null">
				#{rrcSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateAttempt != null">
				#{erabSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateSucc != null">
				#{erabSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateFailure != null">
				#{erabSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateAttempt != null">
				#{accessSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateSucc != null">
				#{accessSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateFailure != null">
				#{accessSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureAttempt != null">
				#{volteFailureAttempt,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureSucc != null">
				#{volteFailureSucc,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureFailure != null">
				#{volteFailureFailure,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxAttempt != null">
				#{tdLteCxAttempt,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxSucc != null">
				#{tdLteCxSucc,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxFailure != null">
				#{tdLteCxFailure,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxAttempt != null">
				#{lteFddCxAttempt,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxSucc != null">
				#{lteFddCxSucc,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxFailure != null">
				#{lteFddCxFailure,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeAttempt != null">
				#{tdLteChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeSucc != null">
				#{tdLteChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeFailure != null">
				#{tdLteChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeAttempt != null">
				#{lteFddChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeSucc != null">
				#{lteFddChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeFailure != null">
				#{lteFddChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeAttempt != null">
				#{systemChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeSucc != null">
				#{systemChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeFailure != null">
				#{systemChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnAttempt != null">
				#{csfbReturnAttempt,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnSucc != null">
				#{csfbReturnSucc,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnFailure != null">
				#{csfbReturnFailure,jdbcType=VARCHAR},
			</if>
			<if test="projId != null">
				#{projId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=INTEGER},
			</if>
			<if test="frequency != null">
				#{frequency,jdbcType=VARCHAR},
			</if>
			<if test="testTime != null">
				#{testTime,jdbcType=VARCHAR},
			</if>
			<if test="jzType != null">
				#{jzType,jdbcType=VARCHAR},
			</if>
			<if test="volteDelay != null">
				#{volteDelay,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>



	<update id="updateByPrimaryKeySelective"
		parameterType="com.boot.kaizen.model.lteFddModel.LteFddCellCheck">
		update lte_fdd_cell
		<set>
			<if test="mENodeBID != null">
				mENodeBID = #{mENodeBID,jdbcType=VARCHAR},
			</if>
			<if test="mBaseStationName != null">
				mBaseStationName = #{mBaseStationName,jdbcType=VARCHAR},
			</if>
			<if test="cellId != null">
				cellId = #{cellId,jdbcType=VARCHAR},
			</if>
			<if test="cellName != null">
				cellName = #{cellName,jdbcType=VARCHAR},
			</if>
			<if test="upDownRatio != null">
				upDownRatio = #{upDownRatio,jdbcType=VARCHAR},
			</if>
			<if test="specialRatio != null">
				specialRatio = #{specialRatio,jdbcType=VARCHAR},
			</if>
			<if test="frequency != null">
				frequency = #{frequency,jdbcType=VARCHAR},
			</if>
			<if test="pci != null">
				pci = #{pci,jdbcType=VARCHAR},
			</if>
			<if test="eci != null">
				eci = #{eci,jdbcType=VARCHAR},
			</if>
			<if test="tac != null">
				tac = #{tac,jdbcType=VARCHAR},
			</if>
			<if test="earfcn != null">
				earfcn = #{earfcn,jdbcType=VARCHAR},
			</if>
			<if test="rsPower != null">
				rsPower = #{rsPower,jdbcType=VARCHAR},
			</if>
			<if test="testTime != null">
				testTime = #{testTime,jdbcType=VARCHAR},
			</if>
			<if test="pa != null">
				pa = #{pa,jdbcType=VARCHAR},
			</if>
			<if test="pb != null">
				pb = #{pb,jdbcType=VARCHAR},
			</if>
			<if test="antennaHangUp != null">
				antennaHangUp = #{antennaHangUp,jdbcType=VARCHAR},
			</if>
			<if test="azimuth != null">
				azimuth = #{azimuth,jdbcType=VARCHAR},
			</if>
			<if test="mechanicalLowerInclination != null">
				mechanicalLowerInclination = #{mechanicalLowerInclination,jdbcType=VARCHAR},
			</if>
			<if test="presetElectricDip != null">
				presetElectricDip = #{presetElectricDip,jdbcType=VARCHAR},
			</if>
			<if test="mtotalLowerInclination != null">
				mtotalLowerInclination = #{mtotalLowerInclination,jdbcType=VARCHAR},
			</if>
			<if test="ftpDown != null">
				ftpDown = #{ftpDown,jdbcType=VARCHAR},
			</if>
			<if test="ftpUp != null">
				ftpUp = #{ftpUp,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateAttempt != null">
				rrcSuccRateAttempt = #{rrcSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateSucc != null">
				rrcSuccRateSucc = #{rrcSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="rrcSuccRateFailure != null">
				rrcSuccRateFailure = #{rrcSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateAttempt != null">
				erabSuccRateAttempt = #{erabSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateSucc != null">
				erabSuccRateSucc = #{erabSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="erabSuccRateFailure != null">
				erabSuccRateFailure = #{erabSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateAttempt != null">
				accessSuccRateAttempt = #{accessSuccRateAttempt,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateSucc != null">
				accessSuccRateSucc = #{accessSuccRateSucc,jdbcType=VARCHAR},
			</if>
			<if test="accessSuccRateFailure != null">
				accessSuccRateFailure = #{accessSuccRateFailure,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureAttempt != null">
				volteFailureAttempt = #{volteFailureAttempt,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureSucc != null">
				volteFailureSucc = #{volteFailureSucc,jdbcType=VARCHAR},
			</if>
			<if test="volteFailureFailure != null">
				volteFailureFailure = #{volteFailureFailure,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxAttempt != null">
				tdLteCxAttempt = #{tdLteCxAttempt,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxSucc != null">
				tdLteCxSucc = #{tdLteCxSucc,jdbcType=VARCHAR},
			</if>
			<if test="tdLteCxFailure != null">
				tdLteCxFailure = #{tdLteCxFailure,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxAttempt != null">
				lteFddCxAttempt = #{lteFddCxAttempt,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxSucc != null">
				lteFddCxSucc = #{lteFddCxSucc,jdbcType=VARCHAR},
			</if>
			<if test="lteFddCxFailure != null">
				lteFddCxFailure = #{lteFddCxFailure,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeAttempt != null">
				tdLteChangeAttempt = #{tdLteChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeSucc != null">
				tdLteChangeSucc = #{tdLteChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="tdLteChangeFailure != null">
				tdLteChangeFailure = #{tdLteChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeAttempt != null">
				lteFddChangeAttempt = #{lteFddChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeSucc != null">
				lteFddChangeSucc = #{lteFddChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="lteFddChangeFailure != null">
				lteFddChangeFailure = #{lteFddChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeAttempt != null">
				systemChangeAttempt = #{systemChangeAttempt,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeSucc != null">
				systemChangeSucc = #{systemChangeSucc,jdbcType=VARCHAR},
			</if>
			<if test="systemChangeFailure != null">
				systemChangeFailure = #{systemChangeFailure,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnAttempt != null">
				csfbReturnAttempt = #{csfbReturnAttempt,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnSucc != null">
				csfbReturnSucc = #{csfbReturnSucc,jdbcType=VARCHAR},
			</if>
			<if test="csfbReturnFailure != null">
				csfbReturnFailure = #{csfbReturnFailure,jdbcType=VARCHAR},
			</if>
			<if test="projId != null">
				projId = #{projId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createAt != null">
				createAt = #{createAt,jdbcType=INTEGER},
			</if>
			<if test="jzType != null">
				jzType = #{jzType,jdbcType=VARCHAR},
			</if>
			<if test="volteDelay != null">
				volteDelay = #{volteDelay,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>